:root {
    --space-xs: 8px;
    --space-s: 16px;
    --space-base: 24px;
    --space-m: 32px;
    --space-l: 40px;
    --space-xl: 48px;
    --font-size-s: 0.8rem;
    --font-size-base: 1rem;
    --font-size-m: 1.2rem;
    --font-size-l: 1.4rem;
    --header-color: #f1f3f5;
    --header-size: 56px;
    --color-neutral: #f1f3f5;
    --color-neutral-2: #adb5bd;
    --primary-color: yellow;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

header .container {
    display: inline-block;
    background-color: var(--header-color);
    padding: var(--space-s);
    position: fixed;
    width: 100%;
 }

  body {
    background-color: var(--color-neutral-2);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-base);
}

#navbar a {
    color: var(--color-neutral-2);
    font-size: var(--font-size-m);
}

#logo {
    margin-right: auto;
    font-size: var(--font-size-l);
    text-decoration: none;
}

#logo span {
    color: red;
}


.section {
    margin-left: 30px;
    margin-right: 30px;
}

.hero {
    background-image: url("assets/hero1.jpg");
    height: 50vh;
    width: 100%;
}

